@import url(
  http://fonts.googleapis.com/css?family=Open + Sans:400,
  700,
  300,
  600
);

body {
  font-family: "Open Sans", sans-serif !important;
}
.my-nav {
  padding: 20px 0;
  background-color: grey;
}
.cover {
  background-image: url("image/room.jpg");
}
